.custom-modal.modal-dialog{
  max-width: 1000px;
}
.modal-header {
  background-color: #fff;
  color: black;
}

.modal-title {
  font-size: 20px;
}

.modal-body table th {
  background-color: grey;
  color: #fff;
}

.modal-footer .btn-save,
.modal-footer .btn-cancel {
  background-color: #333;
  color: #fff;
}

.modal-footer .btn-save:hover,
.modal-footer .btn-cancel:hover {
  background-color: #555;
}
